# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Added extra

# Go related files
mini-exec*
release.zip

# Javascript files
js/.cache
js/dist/main.*
js/node_modules
